@tailwind base;

@tailwind components;

@tailwind utilities;

.bm-menu {
    transition: 0.3s;
    @apply bg-gray-800;
  }
  
  .bm-burger-bars {
    @apply bg-gray-600;
  }
  
  .bm-burger-button {
    width: 32px;
    height: 28px;
    position: fixed;
    z-index: 999;
  }